$palette-default: white;
$palette-secondary: #434a54;
$palette-alternate: #333;

$palette-primary: #3bafda;
$palette-success: #8cc152;
$palette-warning: #f6bb42;
$palette-info: #37bc9b;
$palette-danger: #da4453;
$palette-inactive: #aab2bd;

$base-border-radius: 4px;

$base-font-family: 'Open Sans', sans-serif;