<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Maestro | Open service for the delivery of knowledge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css" />-->
    <link rel="stylesheet" href="/app.bundle.css" />
</head>
<body>

<div id="react"></div>
<script src="/app.bundle.js"></script>
</body>
</html>